[Desktop Entry]
Name=mak-attatch
Comment=Attach cover art to video files
Exec=mak-attatch
Icon=/usr/lib/mak-attatch/P.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;
