[Desktop Entry]
Name=mak-attatch
Comment=Attach cover art to video files
Exec=mak-attatch
Icon=mak-attatch
Terminal=false
Type=Application
Categories=AudioVideo;Video;
