[Desktop Entry]
Name=Poster Attacher
Comment=Attach cover art to video files
Exec=poster-attacher
Icon=/usr/lib/poster-attacher/P.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;
